* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --darkColor: #222831;
  --whiteColor: #dddddd;
  --blueColor: #30475e;
  --redColor: #f05454;
  --greenColor: rgb(12, 155, 12);
}
body {
  background-color: var(--darkColor);
}
h3,
h2 {
  color: var(--whiteColor);
}
.margin {
  margin-top: 5rem;
}

.tab {
  outline: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  transition-duration: 0.75s;
}

.tab:hover {
  opacity: 1;
  border: 0;
  color: var(--blueColor);
  background-color: var(--whiteColor);
}

.icon {
  font-size: 2rem;
}

.deactive {
  opacity: 0.4;
  color: var(--whiteColor);
  background-color: var(--darkColor);
  border: 1px solid var(--whiteColor);
}

.active {
  opacity: 1;
  border: 0;
  color: var(--blueColor);
  background-color: var(--whiteColor);
}

.data-box {
  transition-duration: 0.75s;
}

.data-box:hover {
  opacity: 1;
  color: var(--blueColor);
  background-color: var(--whiteColor);
}

.check-mark {
  font-size: 1.5rem;
  color: var(--greenColor);
}

.show {
  display: flexbox;
}

.hide {
  display: none;
}

.submit-btn {
  outline: none;
  font-size: 1.5rem;
  padding: 1.5rem;
  transition-duration: 0.75s;
  border: 0;
  border-radius: 1.5rem;
  background-color: var(--redColor);
  color: var(--whiteColor);
}

.submit-btn:hover {
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

#submit-row {
  font-size: 1.5rem;
  color: var(--redColor);
}

#submit-row p {
  background-color: var(--whiteColor);
  border-radius: 1.5rem;
  padding: 0.3rem;
}
